{% macro render_inpu(numeros) %}

<div class="control group">
    <label for="{{num}}" class="control-label">Caja {{numeros}}</label>
    <div class="controls">
        <input type="number" name="txtNumeroL" class="input-xlarge"  value="">
    </div>
</div>
{% endmacro %}


{% macro render_field(field) %}
<div class="control-group">
    <div class="controls">
        {{field.label}}
        {{field(**kwargs)|safe}} 
    </div>
</div>

{% if field.errors%}
    <ul>
        {% for error in field.errors %}
        <li style="color: red;">{{error}}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endmacro %}

